* {
    border: 0;
    padding: 0;
    margin: 0;
}

.flex-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);

}

.flex-container-block { 
    width: calc(100%/3);
    padding: 40px 60px;
    box-sizing: border-box;
}

.flex-container-block h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.flex-container-block a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-top: 10px;
    display: block;
}

.flex-container-block p {
    font-size: 13px;
    line-height: 1.5rem;
}

.flex-container-block-social {
    display: inline;
}

.flex-container-block-social img {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}
