.h1 {
    font-family: Arial;
    font-size: 32px;
    text-align: center;
}

.h2 {
    font-family: Arial;
    font-style: italic;
    text-align: center;
    font-size: 12px;
}

.h3 {
    
}
.button {

}

.main-page {
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: absolute;
}